<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
</head>
<body>
    {{>header}} <!--Calling partials
    <!--Parials in  Express is kind of a file with codes that are supposed to be repeated throughout the webpages. Partial stay out of views so we can call it whenever required.-->
    <h1>Template Engines</h1>
    {{>footer}}
</body>
</html>